apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    isDefault: true

  - name: MySQL
    type: mysql
    access: proxy
    url: mysql:3306
    database: asir_defense
    user: app_user
    # Password will be injected via env var or we use the generated one. 
    # For docker-compose simplicity with generated secrets, we might need to rely on 
    # the user configuring this manually OR use a fixed internal password for the bridge.
    # However, to keep it automated, we can use the env var interpolation in Grafana if supported,
    # or simpler: we use the internal docker network credentials.
    jsonData:
      sslmode: "disable" # Internal network
    secureJsonData:
      password: "${MYSQL_PASSWORD}"
