server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: fail2ban
    static_configs:
      - targets:
          - localhost
        labels:
          job: fail2ban
          __path__: /var/log/host/fail2ban.log

  - job_name: system_auth
    static_configs:
      - targets:
          - localhost
        labels:
          job: auth
          __path__: /var/log/host/auth.log
